*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    color: #fff;
    font-weight: 100;
}
html,body{
    width: 100%;
    height: 100%;
}
#a{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: brown;
}


#left{
    width: 25%;
    height: 100%;
    background-color:brown;
    padding: 0 35px;
    color: #fff;
}
#icons{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}
#icons i{
    font-size: 20px;
    opacity: 0.7;
}
#profile{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 210px;
    margin-top: 30px;
    align-items: center;
    text-transform: uppercase;
    font-family: raleway;
    font-weight: 100;
}
#profileimg{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-image: url(https://wallpapercave.com/wp/MvbmMmP.jpg);
    background-position: center;
    background-size: cover;
    
}
#profile h2{
    margin: 10px 0;
    /* opacity: 0.8; */
    font-weight: 500;
    letter-spacing: 4px;
}
#profile h5{
    margin-top: -5px;
    /* opacity: 0.6; */
}
#b{
    width: 100%;
}
.one{
    display: flex;
    align-items: center;
    width: 100%;
    /* height:35px; */
    margin-top: 20px;  
}
.one h5{
    margin-left: 30px;
}
#bluestat{
    color:black;
}
#salmon{
    color: black;
}
#abcd{
    color:black;
}
#songs{
    width: 100%;
    height: 200px;
    margin-top: 40px;
    font-family: "Montserrat";
}
.song{
    display: flex;
    width: 100%;
    margin-top: 15px;
}
.sdets{
    width: 70%;
    margin-left: 20px;
}
.simg{
  width: 40px;  
  height: 40px;
  border-radius: 5px;
  background-image: url(https://wallpapercave.com/wp/wp5143666.jpg);
  background-size: cover;
  background-position: center;
}
#right button{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background-color: brown;
    color: #fff;
    font-size: 15px;
    letter-spacing: 5px;
    font-family: "Montserrat";
    margin-top: 10px;
    text-transform: uppercase;
    border: none;
    font-weight: 400;
    padding: 17px 32px;
    border-radius: 5px;
}
#right{
    position: relative;
    width: 75%;
    height: 100%;
    background-image: url(https://wallpapercave.com/wp/PtIecX1.jpg);
}

#right h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat";
    font-weight: 500;
    color: #fff;
    padding: 20px 0;
    background-color: brown;
    font-size: 16px;
    letter-spacing: 10px;
    font-weight: 100;
}

